/server/client/node_modules/
/server/client/public/build/
/server/client/public/media/
/server/node_modules/
/server/config.js

/db/mongodb-data/
/db/config.sh
/db/users.json
/db/entries.json

.DS_Store
